@font-face {
    font-family: "OnestRegular";
    src: url(Typsnitt/Onest-Regular.ttf);
}
@font-face {
    font-family: "OnestMedium";
    src: url(Typsnitt/Onest-Medium.ttf);
}
@font-face {
    font-family: "OnestBold";
    src: url(Typsnitt/Onest-Bold.ttf);
}
@font-face {
    font-family: "BigShouldersTextBlack";
    src: url(Typsnitt/BigShouldersText-Black.ttf);
}
@font-face {
    font-family: "IBMPlexMonoMedium";
    src: url(Typsnitt/IBMPlexMono-Medium.ttf);
}




*{
    margin: 0;
    padding: 0;
}
:root{
    --cyan:#00ffff;
    --darkcyan:#002736;
    --green:#00e676;
    --darkgreen:#002d22;
    --yellow:#ffeb3b;
    --darkyellow:#2a250f;
    --orange:#ff8800;
    --darkorange:#3b1404;
    --magenta:#ff0079;
    --darkmagenta:#330026;
    --darkgrey:#111111;
}

body{
    font-family: "OnestRegular";
}
h1, h2{
    font-family: "BigShouldersTextBlack";
}
p{
    font-family: "OnestRegular";
    color: var(--darkgrey);
    font-size: 15px;
    line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding:20px 40px;
    background-color: black;
    color: white;
    font-family: "Big Shoulders";
}
header a{
    align-self: center;
    height: 40px;
}
img{
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
}

.inriktningar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.inriktning{
    min-width: 300px;
    height: 100px;
    margin: 20px 20px;
    background-color: black;
}

#spelutveckling{
    background-color: var(--darkcyan);
}
#spelutveckling h2{
    margin: 20px;
    color: var(--cyan);
}

#spelgrafik{
    background-color: var(--darkorange);
}
#spelgrafik h2{
    margin: 20px;
    color: var(--orange);
}

#aiwebbutveckling{
    background-color: var(--darkgreen);
}
#aiwebbutveckling h2{
    margin: 20px;
    color: var(--green);
}

#grafiskdesign{
    background-color: var(--darkmagenta);
}
#grafiskdesign h2{
    margin: 20px;
    color: var(--magenta);
}

#fotofilm{
    background-color: var(--darkcyan);
}
#fotofilm h2{
    margin: 20px;
    color: var(--cyan);
}

#musikproduktion{
    background-color: var(--darkgreen);
}
#musikproduktion h2{
    margin: 20px;
    color: var(--green);
}

.inriktning a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

footer{
    background-color: black;
    height: 100px;
}

@media (max-width:600px) {
    .inriktningar{
        padding: 0;
    }
    .inriktning{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
}