@font-face {
    font-family: "OnestRegular";
    src: url(Typsnitt/Onest-Regular.ttf);
}
@font-face {
    font-family: "OnestMedium";
    src: url(Typsnitt/Onest-Medium.ttf);
}
@font-face {
    font-family: "OnestBold";
    src: url(Typsnitt/Onest-Bold.ttf);
}
@font-face {
    font-family: "BigShouldersTextBlack";
    src: url(Typsnitt/BigShouldersText-Black.ttf);
}
@font-face {
    font-family: "IBMPlexMonoMedium";
    src: url(Typsnitt/IBMPlexMono-Medium.ttf);
}

:root{
    --cyan:#00ffff;
    --darkcyan:#002736;
    --green:#00e676;
    --darkgreen:#002d22;
    --yellow:#ffeb3b;
    --darkyellow:#2a250f;
    --orange:#ff8800;
    --darkorange:#3b1404;
    --magenta:#ff0079;
    --darkmagenta:#330026;
    --darkgrey:#111111;
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "OnestRegular";
}
h1{
    font-family: "BigShouldersTextBlack";
    text-align: center;
}
h2{
    font-family: "BigShouldersTextBlack";
}
p{
    font-family: "OnestRegular";
    color: var(--darkgrey);
    font-size: 15px;
    line-height: 1.5;
}
p.ingress{
    font-family: "OnestMedium";
    text-align: center;
}
img{height: 100%;}
a{text-decoration: none;}

/*  Header  */

header{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding:20px;
    background-color: black;
    color: white;

}
header h1{
    align-self: center;
}
header a{
    align-self: center;
    height: 40px;
    color: white;
}

/*  Sections  */
section{
    margin: 50px 0;
}

section h1{
    color: #111111;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
section p.ingress{
    padding-bottom: 15px;
}

/*  Intro Section  */

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.button{
    text-align: center;
    width: 30%;
}
.button div{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #111111;
}

/*  Inriktningar Section  */

.inriktningar{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.inriktningdiv{
    margin:20px auto;
    height: 160px;
    width: 300px;
    max-width: calc(100vw - 40px);
    background-color: black;
}
.inriktning a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*  Elev för en dag Section  */

.elevförendagtest{
    margin: 50px;
    padding: 30px;
    background-color: black;
    color: white;
}

/*  Kod för specifika inriktningar  */

#spelutveckling{
    background-color: var(--darkcyan);
}
#spelutveckling h2{
    margin: 20px;
    color: var(--cyan);
}
#SUintro{
    background-color: var(--darkcyan);
    color: var(--cyan);
}

#aiwebbutveckling{
    background-color: var(--cyan);
}
#aiwebbutveckling h2{
    margin: 20px;
    color:  var(--darkcyan);
}


#spelgrafik{
    background-color: var(--darkmagenta);
}
#spelgrafik h2{
    margin: 20px;
    color: var(--magenta);
}
#SGintro{
    background-color: var(--darkmagenta);
    color: var(--magenta);
}

#grafiskdesign{
    background-color: var(--magenta);
}
#grafiskdesign h2{
    margin: 20px;
    color: var(--darkmagenta);
}

#fotofilm{
    background-color: var(--darkgreen);
}
#fotofilm h2{
    margin: 20px;
    color: var(--green);
}

#musikproduktion{
    background-color: var(--green);
}
#musikproduktion h2{
    margin: 20px;
    color: var(--darkgreen);
}



footer{
    background-color: black;
    height: 100px;
}

@media (max-width:600px) {

}